@font-face {
  font-family: 'Gilroy-Black';
  src: url(../fonts/Gilroy/Gilroy-Black.otf); }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url(../fonts/Gilroy/Gilroy-ExtraBold.otf); }

@font-face {
  font-family: 'Gilroy-Medium';
  src: url(../fonts/Gilroy/Gilroy-Medium.otf); }

@font-face {
  font-family: 'Gilroy-Regular';
  src: url(../fonts/Gilroy/Gilroy-Regular.otf); }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/Open/OpenSans-Bold.ttf); }

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(../fonts/Open/OpenSans-ExtraBold.ttf); }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/Open/OpenSans-Regular.ttf); }

@font-face {
  font-family: 'Intro';
  src: url(../fonts/intro/Intro.otf); }

@font-face {
  font-family: 'Intro-Bold';
  src: url(../fonts/intro/Intro-Bold.otf); }

@font-face {
  font-family: 'Intro-Black';
  src: url(../fonts/intro/Intro-Black.otf); }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

html {
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

ul {
  list-style: none; }

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

header *,
main *,
footer * {
  box-sizing: border-box; }

.content-conteiner {
  min-height: 100%;
  margin-bottom: -141px; }
  .content-conteiner:after {
    content: '';
    display: block;
    height: 141px; }

.menu-fixed {
  position: fixed !important;
  right: 12%; }

.message-validation {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #efa0a0;
  color: #cc5555;
  text-align: center;
  font-size: 14px; }
  .message-validation:empty {
    display: none; }

.form-input_error {
  display: block;
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #e85656; }

.form-input_success {
  border-color: #7dbf23;
  box-shadow: 0 0 25px #7dbf23; }

.input-login label.error {
  position: absolute;
  display: block;
  margin-left: 25%;
  margin-top: -14px;
  text-align: center;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #e85656; }

label.error {
  position: absolute;
  display: block;
  margin-left: 21%;
  margin-top: -33px;
  text-align: center;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #e85656; }

body {
  border-radius: 30px;
  -webkit-transition: 1s;
  transition: 1s; }

.content-wrapp {
  width: 1100px;
  position: relative;
  margin: 0 auto; }

.header {
  position: relative;
  padding-bottom: 300px;
  overflow: hidden;
  /*background: url(../img/images_png/bg-header.png) no-repeat bottom center;*/
  /*background-size: cover; */
  background: url(../img/images_png/bg-header-new.png) no-repeat bottom center;
  background-size: 3500px; 
}
  .header__nav {
    width: 100%;
    z-index: 2;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 52px; }
  .header__logo {
    width: 270px;
    position: relative;
    bottom: -4px;
    left: -13px; }
  .header__btn {
    width: 160px;
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*border: 2px solid #949398;*/
    border: 2px solid #fff;
    border-radius: 26px;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    opacity: 0.8;
    text-decoration: none;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff; }
    .header__btn:hover {
      border: 2px solid #fff;
      background-color: #fff;
      color: #585976; }
  .header__content {
    z-index: 2;
    position: relative;
    padding-top: 61px; }
  .header__title {
    padding-bottom: 7px;
    font-family: 'Intro-Black';
    font-size: 145px;
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.2);
    color: #fff; }
  .header__text {
    padding-bottom: 90px;
    font-family: 'OpenSans-Regular';
    font-size: 24px;
    line-height: 30px;
    color: #fff; }
  .header__btn-try {
    width: 264px;
    height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 43px;
    font-family: 'OpenSans-ExtraBold';
    font-size: 32px;
    /*background: -webkit-linear-gradient(355deg, #c9ff00, #9aff00);
    background: linear-gradient(95deg, #c9ff00, #9aff00);*/
    background: -webkit-linear-gradient(162deg, #a9f700, #54f800);
    background: linear-gradient(162deg, #a9f700, #54f800);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 18px 7px rgba(59, 57, 118, 0.2);
    text-decoration: none;
    color: #fff; }
    .header__btn-try:hover {
      box-shadow: 0 5px 10px 0 #e2b8fd, 0 0 20px 5px #a274ff;
    background: linear-gradient(162deg, #54f800, #a9f700);
      background: -webkit-linear-gradient(162deg, #54f800, #a9f700);}
  .header__img {
    position: absolute;
    top: 0;
    right: -350px; 
    /*right: -280px; */
  }
    .header__img-desk {
      display: block; }
    .header__img-mob {
      display: none; }

    /*NEW*/

.thrilled--mobile{
  display: none;
  background: -webkit-linear-gradient(bottom, #a77bff, #e0d0ff);
  background: linear-gradient(0deg, #a77bff, #e0d0ff);
  padding-bottom: 50px;
}

nav{
  -webkit-box-shadow: none;
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 20px;
}

nav ul a{
  color: #a389ee;
  font-family: 'OpenSans-Regular';
}

.thrilled {
  width: 100%;
  height: 517px;
  background-color: #7f7ed1;
  position: relative;
  background: url(../img/top/fon.png) no-repeat bottom center;
  background-size: 3000px;
}

.thrilled .video-container{
  width: 100%;
  height: 517px;
  border: 6px solid white;
}

.thrilled__content{
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 90px 0 0 20px;
}

.thrilled__title {
  font-family: 'Intro-Black';
  font-size: 76px;
}

.thrilled__text {
  font-family: 'OpenSans-Regular';
  font-size: 19px;
}

.thrilled__btn{
  width: 264px;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 43px;
  margin-top: 41px;
  font-family: 'OpenSans-Bold';
  font-size: 32px;
  /*    background: -webkit-linear-gradient(355deg, #c9ff00, #9aff00);
      background: linear-gradient(95deg, #c9ff00, #9aff00);*/
  background: -webkit-linear-gradient(162deg, #a9f700, #54f800);
  background: linear-gradient(162deg, #a9f700, #54f800);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #fff; }
.thrilled__btn:hover {
  box-shadow: 0 5px 10px 0 #94e213, 0 0 20px 5px #9dc51a;
  background: linear-gradient(162deg, #54f800, #a9f700);
  background: -webkit-linear-gradient(162deg, #54f800, #a9f700);}

/*.thrilled__mobile{*/
/*display: none;*/
/*margin-top: 110px;*/
/*text-align: center;*/
/*color: #fff;*/
/*}*/

/*.thrilled__mobile__video{*/
/*display: none;*/
/*padding-top: 45px;*/
/*}*/

/*.thrilled__btn__mobile {*/
  /*width: 264px;*/
  /*height: 86px;*/
  /*display: -webkit-box;*/
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  /*-webkit-box-pack: center;*/
  /*-ms-flex-pack: center;*/
  /*justify-content: center;*/
  /*-webkit-box-align: center;*/
  /*-ms-flex-align: center;*/
  /*align-items: center;*/
  /*border-radius: 43px;*/
  /*margin: 0 auto;*/
  /*font-family: 'OpenSans-Bold';*/
  /*font-size: 32px;*/
  /*!*background: -webkit-linear-gradient(355deg, #c9ff00, #9aff00);*/
  /*background: linear-gradient(95deg, #c9ff00, #9aff00);*!*/
  /*background: -webkit-linear-gradient(162deg, #a9f700, #54f800);*/
  /*background: linear-gradient(162deg, #a9f700, #54f800);*/
  /*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);*/
  /*text-decoration: none;*/
  /*color: #fff; }*/
/*.thrilled__btn__mobile:hover {*/
  /*box-shadow: 0 5px 10px 0 #94e213, 0 0 20px 5px #9dc51a;*/
  /*background: linear-gradient(162deg, #54f800, #a9f700);*/
  /*background: -webkit-linear-gradient(162deg, #54f800, #a9f700);}*/

    /*END*/

.steps {
  padding-top: 90px;
  padding-bottom: 90px; }
  .steps__title {
    padding-bottom: 2px;
    font-family: 'Intro-Black';
    font-size: 72px;
    text-align: center;
    color: #383838; }
  .steps__text {
    padding-bottom: 90px;
    font-family: 'Intro-Black';
    font-size: 40px;
    text-align: center;
    color: #907ad0; }
  .steps__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 50px 62px 50px; }
  .steps__item {
    width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none; }
    .steps__item:hover .steps__item__title {
      color:#60d300; }
    .steps__item__img {
      height: 176px; }
      .steps__item__img img {
        height: 100%;
        max-width: none;
        width: auto; }
    .steps__item__title {
      padding-top: 23px;
      padding-bottom: 6px;
      font-family: 'Intro-Black';
      font-size: 37px;
      color: #383838; }
    .steps__item__text {
      font-family: 'OpenSans-Regular';
      font-size: 16px;
      color: #888; }
  .steps__gap {
    padding-top: 85px; }
    .steps__gap__img {
      width: 100px; }
  .steps__btn {
    width: 264px;
    height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 43px;
    margin: 0 auto;
    font-family: 'OpenSans-Bold';
    font-size: 32px;
    /*background: -webkit-linear-gradient(355deg, #c9ff00, #9aff00);
    background: linear-gradient(95deg, #c9ff00, #9aff00);*/
    background: -webkit-linear-gradient(162deg, #a9f700, #54f800);
    background: linear-gradient(162deg, #a9f700, #54f800);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fff; }
    .steps__btn:hover {
      box-shadow: 0 5px 10px 0 #94e213, 0 0 20px 5px #9dc51a;
    background: linear-gradient(162deg, #54f800, #a9f700);
      background: -webkit-linear-gradient(162deg, #54f800, #a9f700);}
  .steps__btn-mob{
      width: 264px;
      height: 86px;
      display:none;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 43px;
      margin: 0 auto;
      font-family: 'OpenSans-Bold';
      font-size: 32px;
      background: -webkit-linear-gradient(355deg, #c9ff00, #9aff00);
      background: linear-gradient(95deg, #c9ff00, #9aff00);
      text-decoration: none;
      color: #fff; }
      .steps__btn-mob:hover {
        box-shadow: 0 5px 10px 0 #94e213, 0 0 20px 5px #9dc51a; }

.shipping {
  width: 100%;
  /*height: auto;*/
  height: 314px;
  position: relative;
  background: url(../img/images_png/shipping2-new.png) no-repeat bottom center;
  background-size: 3000px; 
   }
  .shipping__img {
    width: 100%; 
    display: none;}
    .shipping__img img {
      width: 100%; }
    .shipping__img-desk {
      display: block; }
    .shipping__img-mob {
      display: none; }
  .shipping__content {
    width: 1100px;
    margin: 0 auto;
    position: absolute;
    top: 116px;
    left: calc( (100% - 1100px)/2);
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
    color: #fff; }
  .shipping__title {
    font-family: 'Intro-Black';
    font-size: 48px; }
    .shipping__title-mob {
      display: none;
      padding-top: 20px;
      font-family: 'Intro-Black';
      font-size: 34px;
      text-align: center; }
  .shipping__text {
    font-family: 'OpenSans-Regular';
    font-size: 16px; }

.about {
  padding: 88px 0 78px 0; }
  .about__title {
    padding-bottom: 52px;
    font-family: 'Intro-Black';
    font-size: 72px;
    text-align: center;
    color: #383838; }
  .about__wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about__content {
    width: 70%; }
  .about__text {
    padding-bottom: 28px;
    font-family: 'OpenSans-Regular';
    font-size: 18.5px;
    color: #888; }
  .about__btn {
    width: 264px;
    height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 43px;
    margin-top: 41px;
    font-family: 'OpenSans-Bold';
    font-size: 32px;
/*    background: -webkit-linear-gradient(355deg, #c9ff00, #9aff00);
    background: linear-gradient(95deg, #c9ff00, #9aff00);*/
    background: -webkit-linear-gradient(162deg, #a9f700, #54f800);
    background: linear-gradient(162deg, #a9f700, #54f800);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fff; }
    .about__btn:hover {
      box-shadow: 0 5px 10px 0 #94e213, 0 0 20px 5px #9dc51a;
    background: linear-gradient(162deg, #54f800, #a9f700);
      background: -webkit-linear-gradient(162deg, #54f800, #a9f700);}
    .about__btn-mob {
      width: 264px;
      height: 86px;
      display: none;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center;
      border-radius: 43px;
      margin-top: 41px;
      font-family: 'OpenSans-Bold';
      font-size: 32px;
      background: -webkit-linear-gradient(355deg, #c9ff00, #9aff00);
      background: linear-gradient(95deg, #c9ff00, #9aff00);
      text-decoration: none;
      color: #fff; }
      .about__btn-mob:hover {
        box-shadow: 0 5px 10px 0 #94e213, 0 0 20px 5px #9dc51a; }
  .about__side {
    width: 30%;
    text-align: center; }
    .about__side__img {
      width: 100%; }
    .about__side__text {
      font-size: 16px;
      color: #24292e; }
    .about__side__valid {
      padding: 17px 0;
      font-size: 34px;
      background-color: #f0ffde;
      color: #77c200; }
    .about__side__data {
      font-size: 13px;
      color: #323940; }

.footer {
  width: 100%;
  margin-top: 56px;
  /*padding: 8.1% 0 52px 0;*/
  padding: 104px 0 52px 0;
  /*background: url(../img/images_png/bg-footer.png) no-repeat top center;*/
  /*background-size: cover; */
  background: url(../img/images_png/bg-footer-new.png) no-repeat top center;
  background-size: 3115px; 
}
  .footer-wrapp {
    width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__img {
    width: 166px;
    position: relative;
    left: -26px;
    padding-right: 16px; }
  .footer__text-block {
    padding-top: 30px; }
  .footer__text {
    padding-bottom: 13px;
    font-family: 'OpenSans-Regular';
    font-size: 13px;
    color: #9f97b2; }
  .footer__side__discord {
    width: 216px;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 29px;
    /*background-color: #cbb6dd;*/
    background: -webkit-linear-gradient(bottom, #7788d4, #7f7ed1);
    background: linear-gradient(0deg, #7788d4, #7f7ed1);
    }
    .footer__side__discord:hover {
     /* background: -webkit-linear-gradient(bottom, #9671c9, #9c6ac7);
      background: linear-gradient(0deg, #9671c9, #9c6ac7);*/
     /* background: -webkit-linear-gradient(bottom, #7788d4, #7f7ed1);
      background: linear-gradient(0deg, #7788d4, #7f7ed1);*/
      box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2); }
    .footer__side__discord img {
      width: 135px; }
  .footer__side__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 18px; }
    .footer__side__social-item {
      width: 30px;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 50%;
      text-decoration: none;
      background-color: #cbb6dd;
      color: #efe2f3; }
      .footer__side__social-item:hover {
        box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2);
        background: -webkit-linear-gradient(bottom, #9671c9, #9c6ac7);
        background: linear-gradient(0deg, #9671c9, #9c6ac7);
        color: #fff; }

@media screen and (min-width: 3000px) {
 .header, .footer{
   background-size: cover;
 }
 .shipping{
   height: 360px;
   background-size: cover;
  }
}

@media screen and (max-width: 1200px) {
  .shipping__content {
    top: 88px; } }

@media screen and (max-width: 1150px) {
  .content-wrapp, .footer-wrapp, .shipping__content {
    width: 980px; }
  .steps__gap__img {
    width: 50px; }
  .shipping__content {
    top: 88px;
    left: calc( (100% - 960px)/2); }
  .shipping__title {
    padding-left: 30px;
    font-size: 40px; }
  .shipping__text {
    padding-left: 30px; }
  .thrilled__title {
    font-family: 'Intro-Black';
    font-size: 68px;
  }
  .thrilled__text {
    font-family: 'OpenSans-Regular';
    font-size: 17px;
  }
}

@media screen and (max-width: 1024px) {
  .header__img {
    right: unset;
    bottom: 300px;
    width:72%;
  }
  .header__title {
    text-align: center; }
  .header__text {
    text-align: center;
    padding-bottom: 50px;
    /*padding-bottom: 340px;*/
  }
  .header__btn-try {
    margin: 50px auto 0px;
  }
  .header {
    background: -webkit-linear-gradient(bottom, #a77bff, #e0d0ff);
    background: linear-gradient(0deg, #a77bff, #e0d0ff);
    padding-bottom: 50px; }
  .header__nav {
    padding-top: 20px; }
  .header__logo {
    width: 130px; }
  .header__img {
    bottom: 26px;}
  .header__btn {
    width: 130px;
    height: 40px;
    font-size: 16px; }
  .header__content {
    padding-top: 35px; }
  .header__title {
    font-size: 45px; }
  .header__text {
    font-size: 14px;
    line-height: 20px; }
  .header__btn-try {
    width: 200px;
    height: 66px;
    font-size: 23px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); }






  .footer-wrapp {
    width: 100%;
    padding: 0 30px; }
  .content-wrapp {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    margin: 0; }
  .shipping__content {
    width: calc(100% - 60px);
    margin: 0; }
  /*.header__logo {*/
    /*left: 0; }*/
  /*.header__img-desk {*/
    /*display: none; }*/
  /*.header__img-mob {*/
    /*display: block; }*/
  /*.header__img {*/
    /*top: unset;*/
    /*bottom: 0; }*/
  .steps__list {
    padding: 0 0 62px 0; }
  .thrilled__title {
    font-family: 'Intro-Black';
    font-size: 61px;
  }
  .thrilled__text {
    font-family: 'OpenSans-Regular';
    font-size: 15px;
  }
  .thrilled--desktop{
    display: none;
  }
  .thrilled--mobile{
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .header__img {
    right: unset;
    bottom: 300px;
    width:72%;
  }
  .header__title {
    text-align: center; }
  .header__text {
    text-align: center;
    /*padding-bottom: 50px; */
    /*padding-bottom: 340px;*/
  }
  .header__btn-try {
    margin: 50px auto 0px;
  }
  .steps__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    padding: 0 0 0 0; }
  .steps__item {
    /*padding-bottom: 60px;*/
    padding-bottom: 0px;}
  .steps__gap {
    display: none; }
  .steps__btn{
    margin-top: 50px;
    /*display:none;*/}
  /*.steps__btn-mob{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 50px;}*/
  .shipping {
    height: 852px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    /*background-color: #7252b7;*/
    background: url(../img/images_png/illus.png) no-repeat bottom center;
    background-size: cover;
  }
  .shipping__content {
    position: unset; }
  .shipping__title {
    display: none; }
  .shipping__title-mob {
    display: block; }
  .shipping__text {
    padding-bottom: 30px;
    text-align: center; }
  .about__wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .about__content, .about__side {
    width: 100%; }
  .about__btn {
    display: none; }
  .about__btn-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer {
    margin-top: 0;
    background: #f0e3f9; }
  .footer-wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
}

/*@media screen and (max-width: 750px) {*/
@media screen and (max-width: 959px) {
  .header {
    background: -webkit-linear-gradient(bottom, #a77bff, #e0d0ff);
    background: linear-gradient(0deg, #a77bff, #e0d0ff);
    padding-bottom: 50px; }
  .header__nav {
    padding-top: 20px; }
  .header__logo {
    width: 130px; }
  .header__img {
    bottom: 26px;}
  .header__btn {
    width: 130px;
    height: 40px;
    font-size: 16px; }
  .header__content {
    padding-top: 35px; }
  .header__title {
    font-size: 45px; }
  .header__text {
    font-size: 14px;
    line-height: 20px; }
  .header__btn-try {
    width: 200px;
    height: 66px;
    font-size: 23px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .steps {
    padding-bottom: 50px; }
  .steps__title {
    font-size: 35px; }
  .steps__text {
    padding-bottom: 40px;
    font-size: 20px; }
  .steps__item__title {
    font-size: 32px; }
  .steps__btn, .thrilled__btn {
    width: 200px;
    height: 66px;
    font-size: 23px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .steps__btn-mob, .thrilled__btn__mobile{
    width: 200px;
    height: 66px;
    font-size: 23px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .shipping__content {
    width: 100%;
    position: absolute;
    top: 215px;
    left: unset;}
  .shipping__title-mob {
    font-size: 22px; }
  .shipping__text {
    padding-left: 0px; }
  .shipping__img-desk {
    display: none; }
  .shipping__img-mob {
    display: block; }
  .about {
    padding: 40px 0 50px 0; }
  .about__title {
    font-size: 35px;
    padding-bottom: 25px; }
  .about__content {
    padding-bottom: 35px; }
  .about__text {
    padding-bottom: 18px;
    font-size: 16px; }
  .about__btn-mob {
    width: 200px;
    height: 66px;
    font-size: 23px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .footer {
    padding: 8.1% 0 20px 0; }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .footer__text {
    font-size: 12px; }
  .footer__img {
    width: 100px;
    left: 0;
    padding-top: 20px; } }
@media screen and (max-width: 800px){
  .header__img {
      bottom: 65px;
  }
}
@media screen and (max-width: 760px){
  .shipping {
    height: 670px;
  }
  .shipping__content{
    top:180px;
  }
}
@media screen and (max-width: 720px){
  .header__img {
      bottom: 85px;
  }
}
@media screen and (max-width: 620px){
  .shipping {
    height: 542px;
  }
  .shipping__content{
    top:135px;
  }
}
@media screen and (max-width: 550px) {
  .header__img {
    right: unset;
    bottom: 70px;
}
  .header__text {
    text-align: center;
    /*padding-bottom: 235px;*/
  }
}
@media screen and (max-width: 500px){
  .shipping {
    height: 438px;
  }
  .shipping__content{
    top:108px;
  }
}
@media screen and (max-width: 440px){
  .shipping {
    height: 384px;
  }
  .shipping__content{
    top:86px;
  }
}
@media screen and (max-width: 410px) {
  .header__img {
    bottom: 78px;
  }
  /*.header__text {*/
    /*padding-bottom: 185px;*/
  /*}*/
}
@media screen and (max-width: 380px){
  .shipping {
    height: 340px;
  }
  .shipping__content{
    top:60px;
  }
}
@media screen and (max-width: 370px) {
  .content-wrapp {
    padding: 0 10px; }
  .steps__item {
    padding-bottom: 35px; }
  .steps__item__img {
    height: 130px; }
  .steps__item__title {
    padding-top: 10px; }
  .shipping__title-mob {
    font-size: 19px; }
  .shipping__text {
    font-size: 14px; }
  .about {
    padding: 30px 0 50px 0; }
  .about__title {
    padding-bottom: 18px; }
  .about__wrapp {
    padding: 0 5px; }
  .about__text {
    font-size: 15px; }
  .footer__text {
    font-size: 10px; } }

